/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
	text-align: left;
}

h1 {
    text-align: center;
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	margin-top: 60px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}

code {
    background: #f9f2f4;
    color: #c7254e;
    padding: 2px 4px;
    margin: 3px;
    border-radius: 4px;
}

img {
	margin: 20px auto 0 auto;
	display: block;
}